:ruby
  app_version = "0.32"

!!! 5
%html(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title
    %link(rel="stylesheet" href="/write/write.css?v=#{app_version}")
    %script(src="/lib/jquery/jquery.min.js?v=#{app_version}")
    %script(src="/app.js?v=#{app_version}")
    %script(src="/write/write.js?v=#{app_version}")
  %body.view_write
    %form
      %h1
      %div
        %input(type="submit" value="書き込む")
        %label
          名前:
          %input.name(size="19")
        %label
          E-mail:
          %input.mail(size="19")
      %textarea.message(wrap="off" autofocus required)
      .notice
      .notice2 現在、Chromeのバグにより、read.crxより若いIDの拡張機能がインストールされている場合、書き込み機能が動作しない場合が有ります。
    .iframe_container
      .hide_iframe
