!!! 5
%html(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title
    %link(rel="stylesheet" href="/write/write.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="/write/write.js?v=#{MANIFEST["version"]}")
  %body.view_write
    %form
      %header
        %h1
        %button.preview_button AA表示確認
      %div
        %input(type="submit" value="書き込む" tabindex="2")
        %label
          名前:
          %input.name(size="19")
        %label
          E-mail:
          %input.mail(size="19")
      %textarea.message(wrap="off" tabindex="1" autofocus required)
      .notice
      .notice2 現在、Chromeのバグにより、read.crxより若いIDの拡張機能がインストールされている場合、書き込み機能が動作しない場合が有ります。
    .iframe_container
      .hide_iframe
