!!! 5
%html.view.view_board(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title board
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="board.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="app_proxy.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="board.js?v=#{MANIFEST["version"]}")
  %body
    .message_bar
    %nav.nav_bar
      %label
        %input.searchbox
        %span.hit_count
      .button.button_bookmark
      .button.button_reload
      .button.button_tool
        %ul
          %li.button_link
            %a(target="_blank") Chromeで直接開く
      %select.sort_item_selector
        %option(label="標準" data-sort_order="asc" data-sort_type="num") data-thread_number
        %option(label="ブックマーク") 0
        %option(label="タイトル") 1
        %option(label="レス数") 2
        %option(label="未読数") 3
        %option(label="勢い") 4
        %option(label="作成日時") 5
    .content(tabindex="0")
    .loading_overlay Loading...

  #template(hidden)
    %ul.thread_list_contextmenu
      %li.add_bookmark ブックマークに追加
      %li.del_bookmark ブックマークを解除

