!!! 5
%html.view.view_bookmark(data-app-version="#{MANIFEST["version"]}" data-url="bookmark")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title ブックマーク
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="bookmark.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="app_proxy.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="bookmark.js?v=#{MANIFEST["version"]}")
  %body
    %nav.nav_bar
      %label
        %input.searchbox_thread_title
        %span.hit_count
      .button.button_reload
      .button.button_tool
        %ul
          %li.button_link
            %a(target="_blank") ブックマークマネージャを開く
      %select.sort_item_selector
        %option(label="タイトル") 0
        %option(label="レス数") 1
        %option(label="未読数" selected) 2
        %option(label="勢い") 3
        %option(label="作成日時") 4
    .content(tabindex="0")
    .loading_overlay
    #template(hidden)
      %ul.view_module_board_contextmenu
        %li.add_bookmark ブックマークに追加
        %li.del_bookmark ブックマークを解除

