:ruby
  app_version = "0.12"

!!! 5
%html.view.view_bookmark(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %title ブックマーク
    %link(rel="stylesheet" href="/ui.css?v=#{app_version}")
    %link(rel="stylesheet" href="bookmark.css?v=#{app_version}")
    %script(src="/lib/jquery/jquery-1.6.2.min.js?v=#{app_version}")
    %script(src="/ui.js?v=#{app_version}")
    %script(src="/app.js?v=#{app_version}")
    %script(src="/app_core.js?v=#{app_version}")
    %script(src="module.js?v=#{app_version}")
    %script(src="bookmark.js?v=#{app_version}")
  %body
    %nav.nav_bar
      %input.searchbox_thread_title
      .button.button_link(title="ブックマークマネージャを開く")
      .button.button_reload
    .content(tabindex="0")
      %table
        %thead
          %tr
            %th タイトル
            %th(data-table_sort_type="num") レス数
            %th.table_sort_desc(data-table_sort_type="num") 未読
            %th(data-table_sort_type="num") 勢い
            %th 作成日時
        %tbody.view_bookmark_tbody
    .loading_overlay
    #template(hidden)
      %ul.view_module_board_contextmenu
        %li.add_bookmark ブックマークに追加
        %li.del_bookmark ブックマークを解除

