:ruby
  app_version = "0.39"

!!! 5
%html.view.view_history(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title 閲覧履歴
    %link(rel="stylesheet" href="history.css?v=#{app_version}")
    %script(src="/lib/jquery/jquery.min.js?v=#{app_version}")
    %script(src="/app.js?v=#{app_version}")
    %script(src="app_proxy.js?v=#{app_version}")
    %script(src="module.js?v=#{app_version}")
    %script(src="history.js?v=#{app_version}")
  %body
    %nav.nav_bar
      .button.button_reload
    .content(tabindex="0")
      %table
        %thead
          %tr
            %th タイトル
            %th 閲覧日時
        %tbody
    .loading_overlay Loading...
