!!! 5
%html.view.view_index(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title read.crx 2
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="index.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="/app_core.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="index.js?v=#{MANIFEST["version"]}")
  %body
    #app_notice_container
    #body
      %iframe#left_pane(src="/view/sidemenu.html")
      #right_pane
        #tab_a
        #tab_resizer
        #tab_b
      #modal
    #template(hidden)
      %ul.tab_contextmenu
        %li.restore 閉じたタブを開く
        %li.reload 再読み込み
        %li.close タブを閉じる
        %li.close_all 全てのタブを閉じる
        %li.close_all_other 他のタブを全て閉じる
        %li.close_right 右側のタブを全て閉じる
