:ruby
  app_version = "0.28"

!!! 5
%html(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title read.crx 2
    %link(rel="stylesheet" href="/ui.css?v=#{app_version}")
    %link(rel="stylesheet" href="index.css?v=#{app_version}")
    %script(src="/lib/jquery/jquery-1.6.4.min.js?v=#{app_version}")
    %script(src="/ui.js?v=#{app_version}")
    %script(src="/app.js?v=#{app_version}")
    %script(src="/app_core.js?v=#{app_version}")
    %script(src="module.js?v=#{app_version}")
    %script(src="index.js?v=#{app_version}")
  %body
    #app_notice_container
    #body
      %iframe#left_pane(src="/view/sidemenu.html")
      #right_pane
        #tab_a
        #tab_resizer
        #tab_b
      #modal

