!!! 5
%html.view.view_index(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title read.crx 2
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="index.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="/app_core.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="index.js?v=#{MANIFEST["version"]}")
  %body
    #app_notice_container
    #body
      %iframe#left_pane(src="/view/empty.html")
      #right_pane
        #tab_a
        #tab_resizer
        #tab_b
      #modal
    .keyboard_help(tabindex="-1")
      %header このヘルプを閉じるには、任意のキーを押して下さい。
      %h2 キーボードショートカット一覧
      %dl
        %dt<
          %kbd j
        %dd 下にスクロール
        %dt<
          %kbd k
        %dd 上にスクロール
        %dt<
          %kbd h
        %dd カテゴリを閉じる（板一覧限定）
        %dt<
          %kbd l
        %dd カテゴリを開く（板一覧限定）
        %dt<
          %kbd Shift+r
        %dd 更新
        %dt<
          %kbd Shift+w
        %dd タブを閉じる
        %dt<
          %kbd /
        %dd 検索窓にジャンプ
        %dt<
          %kbd Esc
        %dd 検索をクリア（検索窓中で入力した場合）
        %dd 検索窓からフォーカスを外す（空白の検索窓中で入力した場合）
        %dd コマンド入力欄を閉じる（コマンド入力欄中で入力した場合）
        %dt<
          %kbd Shift+h
        %dd 左のタブを選択
        %dt<
          %kbd Shift+j
        %dd 下のタブを選択
        %dt<
          %kbd Shift+k
        %dd 上のタブを選択
        %dt<
          %kbd Shift+l
        %dd 右のタブを選択
        %dt<
          %kbd ?
        %dd キーボードショートカットのヘルプを開く
        %dt<
          %kbd :
        %dd コマンド入力欄を開く
      %h2 コマンド一覧
      %p :で開いた入力欄に入力し、Enterキーを押すことで実行されます。
      %dl
        %dt help
        %dd キーボードショートカットのヘルプを開く（?と同じ）
        %dt q
        %dd タブを閉じる（Shift+wと同じ）
        %dt r
        %dd 更新（Shift+rと同じ）
        %dt 任意の数値
        %dd 該当するレス番号の位置にジャンプする（スレッド表示内限定）
    %template#template_tab_contextmenu
      %ul.tab_contextmenu
        %li.restore 閉じたタブを開く
        %li.reload 再読み込み
        %li.close タブを閉じる
        %li.close_all 全てのタブを閉じる
        %li.close_all_other 他のタブを全て閉じる
        %li.close_right 右側のタブを全て閉じる
