!!! 5
%html.view.view_inputurl(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title URLを指定して開く
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="inputurl.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="app_proxy.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="inputurl.js?v=#{MANIFEST["version"]}")
  %body
    %nav.nav_bar
      .button.button_back.disabled
      .button.button_forward.disabled
    .container
      %form
        %input(name="url" placeholder="ここにURLを入力して下さい" autofocus)
        %input(type="submit" value="開く")
      .notice
