!!! 5
%html.view.view_sidemenu(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title sidemenu
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="sidemenu.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="sidemenu.js?v=#{MANIFEST["version"]}")
  %body.content(tabindex="0")
    %form.search
      %input(type="text" name="q" placeholder="スレッド検索")
      %input(type="submit" value="")
    %h3 read.crx
    %ul
      %li
        %a(class="open_in_rcrx" data-href="bookmark" title="ブックマーク") ブックマーク
      %li
        %a(class="open_in_rcrx" data-href="history" title="閲覧履歴") 閲覧履歴
      %li
        %a(class="open_in_rcrx" data-href="aalist" title="AA List") AA List
      %li
        %a(class="open_in_rcrx" data-href="inputurl" title="URL指定で開く") URL指定で開く
      %li
        %a(class="open_in_rcrx" data-href="config" title="設定") 設定
    .loading_message Loading
