:ruby
  app_version = "0.0"

!!! 5
%html(data-app-version="#{app_version}")
  %head
    %meta(charset="utf-8")
    %title read.crx 2
    %link(rel="stylesheet" href="/app.css?v=#{app_version}")
    %script(src="/lib/jquery/jquery-1.6.1.min.js?v=#{app_version}")
    %script(src="/ui.js?v=#{app_version}")
    %script(src="/app.js?v=#{app_version}")
  %body
    #body
      #left_pane
      #right_pane
        #tab_a
        #tab_resizer
        #tab_b

    #template(hidden)
      .view_sidemenu
        %h3 read.crx
        %ul
          %li
            %a(class="open_in_rcrx" data-href="bookmark") ブックマーク
          %li
            %a(class="open_in_rcrx" data-href="history") 閲覧履歴
          %li
            %a(class="open_in_rcrx" data-href="config") 設定
          .view_sidemenu_bookmark

      .view_board
        .message_bar
        %nav.nav_bar
          %input.searchbox_thread_title
          .button.button_bookmark
          .button.button_link(title="Chromeで直接開く")
          .button.button_reload
        .content
          %table
            %thead
              %tr
                %th ★
                %th タイトル
                %th(data-table_sort_type="num") レス数
                %th(data-table_sort_type="num") 未読
                %th(data-table_sort_type="num") 勢い
                %th 作成日時
            %tbody.view_board_tbody
        .loading_overlay Loading...

      %ul.view_module_board_contextmenu
        %li.add_bookmark ブックマークに追加
        %li.del_bookmark ブックマークを解除

      .view_thread
        .message_bar
        %nav.nav_bar
          %input.searchbox
          .button.button_bookmark
          .button.button_link(title="Chromeで直接開く")
          .button.button_board(title="板を開く")
          .button.button_reload
          .button.button_write
        .content
        %ul.jump_panel
          %li.jump_one >>1
          %li.jump_last しおり
          %li.jump_not_read 未読
          %li.jump_new 新着
          %li.jump_newest 最後
        .loading_overlay Loading...

      %ul.view_thread_resmenu
        %li.res_to_this このレスにレス
        %li.res_to_this2 引用してレス
        %li.toggle_aa_mode AAモード切り替え
        %li.res_permalink このレスを直接開く

      .view_bookmark
        %nav.nav_bar
          %input.searchbox_thread_title
          .button.button_link(title="ブックマークマネージャを開く")
          .button.button_reload
        .content
          %table
            %thead
              %tr
                %th タイトル
                %th(data-table_sort_type="num") レス数
                %th.table_sort_desc(data-table_sort_type="num") 未読
                %th(data-table_sort_type="num") 勢い
                %th 作成日時
            %tbody.view_bookmark_tbody
        .loading_overlay

      .view_history(data-url="history")
        %nav.nav_bar
          .button.button_reload
        .content
          %table
            %thead
              %tr
                %th タイトル
                %th 閲覧日時
            %tbody

      .view_config(data-url="config")
        %h2 バージョン情報
        .version_info

        %h2 スレッド表示設定
        %label
          %input.direct(type="checkbox" name="thumbnail_supported")
          対応サイトのサムネイルを表示する
        %br
        %label
          %input.direct(type="checkbox" name="thumbnail_ext")
          拡張子が画像ファイルなURLのサムネイルを表示する

        %h2 書き込み設定
        %table
          %tbody
            %tr
              %td
                デフォルトの名前
              %td
                %input.direct(type="text" name="default_name")
            %tr
              %td
                デフォルトのメールアドレス
              %td
                %input.direct(type="text" name="default_mail")

        %h2 プライバシー
        %button.history_clear(type="button") 閲覧履歴を削除する
        %span.history_clear_status

        -#
          %h2 忍法帖
          %h3 Cookie
          %ul.ninja_info_cookie
          %div 忍法帖のCookieが有りません
          %h3 バックアップ
          %ul.ninja_info_stored
          %div 忍法帖のバックアップは有りません
          .notation
            %span 忍法帖については
            %a(href="http://ninja.2ch.net/" target="_blank") http://ninja.2ch.net/
            %span をご覧下さい

        %h2 その他
        %button.bookmark_source_change ブックマークのフォルダを変更する

        %br

        %button.bbsmenu_reload(type="button") 板一覧の更新
        %span.bbsmenu_reload_status
        %span ※このボタンを押さなくても、read.crxは定期的に板一覧の更新を行います

        %br

        %button.cache_clear(type="button") キャッシュの削除
        %span.cache_clear_status

      .view_bookmark_source_selector
        %div
          read.crxのブックマークの保存先として使用するフォルダを指定して下さい
          .node_list
            %ul
          %button.submit(disabled) 決定
          %br
          read.crx内で掲示板をブックマークに登録/削除すると、このフォルダ内にも掲示板のブックマークが追加/削除されます
          %br
          ブックマーク同期を利用して既読数を同期出来るようにするために、このフォルダ内の対応掲示板のブックマークは編集される場合が有ります
          %br
          このフォルダ内に非対応サイトのブックマークが有っても、それらは完全に無視されます
